<div *ngIf="cartItems.length > 0" class="cart">
    <h2>Your Cart</h2>
    <div *ngFor= "let item of cartItems" class="cart-item">
      <img [src]= "item.img" alt="{{ item.name }}" class="cart-item-image" />
      <div class="cart-item-details">
        <h3>{{ item.name }}</h3>
        <p>Cost: ₹{{ item.cost }}</p>
      </div>
    </div>
    <h3>Total Cost: ₹{{ totalCost }}</h3>
  </div>
  <div *ngIf="cartItems.length === 0">
    <p><strong>cart is empty.<br>please add something</strong> </p>
  </div>
  