<div class="section">
    <h2>Best Cuisines Near Me</h2>
    <div class="buttons-grid">
      <button class="button">Chinese Restaurant Near Me</button>
      <button class="button">South Indian Restaurant Near Me</button>
      <button class="button">Indian Restaurant Near Me</button>
      <button class="button">Kerala Restaurant Near Me</button>
      <button class="button">Korean Restaurant Near Me</button>
      <button class="button">North Indian Restaurant Near Me</button>
      <button class="button">Seafood Restaurant Near Me</button>
      <button class="button">Bengali Restaurant Near Me</button>
      <button class="button">Punjabi Restaurant Near Me</button>
      <button class="button">Italian Restaurant Near Me</button>
      <button class="button">Andhra Restaurant Near Me</button>
      <button class="button">Show More</button>
    </div>
  </div>
  <div class="section">
    <h2>Explore Every Restaurants Near Me</h2>
    <div class="buttons-grid">
      <button class="button">Explore Restaurants Near Me</button>
      <button class="button">Explore Top Rated Restaurants Near Me</button>
    </div>
  </div>
  