<footer class="footer">
  <div class="app-links">
    <p class="download-text">For better experience, download the Swiggy app now</p>
    <img src="assets/play store.avif" alt="App Store" />
    <img src="assets/google play.avif" alt="Google Play" />
  </div>
  <div class="container">
    <div class="footer-section">
      <img src="assets/swiggy-logo.png" alt="Swiggy Logo" class="footer-logo">
      <p class="footer-text">&copy; 2024 Swiggy Limited</p>
    </div>
    
    <div class="footer-section">
      <h3 class="footer-heading">Company</h3>
      <ul class="footer-list">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Swiggy Corporate</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Swiggy One</a></li>
        <li><a href="#">Swiggy Instamart</a></li>
        <li><a href="#">Swiggy Dineout</a></li>
        <li><a href="#">Swiggy Genie</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h3 class="footer-heading">Contact us</h3>
      <ul class="footer-list">
        <li><a href="#">Help & Support</a></li>
        <li><a href="#">Partner with us</a></li>
        <li><a href="#">Ride with us</a></li>
      </ul>
      <h3 class="footer-heading">Legal</h3>
      <ul class="footer-list">
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Cookie Policy</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Investor Relations</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3 class="footer-heading">Available in:</h3>
      <ul class="footer-list">
        <li>Bangalore</li>
        <li>Gurgaon</li>
        <li>Hyderabad</li>
        <li>Delhi</li>
        <li>Mumbai</li>
        <li>Pune</li>
      </ul>
    </div>
    <div class = "footer-section">
      <h3 class="footer-heading">Life at Swiggy</h3>
      <ul class="footer-list">
        <li>Explore with swiggy</li>
        <li>Swiggy News</li>
        <li>Snackables</li>
      </ul>
      <h3 class="footer-heading">Social Links</h3>
      <div class="social-links">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
      </div>
    </div>
  </div>
</footer>
