<div class="login-container">
    <h2>{{ isSignUp ? 'Sign Up' : 'Login' }}</h2>
    <p class="signup-link" (click)="toggleMode()">
      {{ isSignUp ? 'or Sign In' : 'or create an account' }}
    </p>
    <div class="separator"></div>
  
    <form (ngSubmit)="onSubmit()">
      <div class="input-container">
        <input type="email" id="email" placeholder="Email" [(ngModel)]="email" name="email" required />
      </div>
  
      <div class="input-container">
        <input type="password" id="password" placeholder="Password" [(ngModel)]="password" name="password" required />
      </div>
  
      <button type="submit" class="login-button" [disabled]="isLoading">
        {{ isSignUp ? 'Sign Up' : 'Login' }}
      </button>

      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  
    <p class="terms">
      By clicking on {{ isSignUp ? 'Sign Up' : 'Login' }}, I accept the 
      <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a>
    </p>
  </div>
  